* {
  box-sizing: border-box;
}

#welcome_banner {
   font-family: "FixedSys", "terminal", "consolas", monospace;
   font-size: 16pt;
   text-align: center;
   color: pink;
}

/* for screen name */
#displayName {
    color: white;
}

#logInfo {
    font-size: 10pt;
    vertical-align: bottom;
}




/* form inputs */
#channel_name, #channel_submit {
    background-color: purple; 
}


nav {
    float: left;
    width: 30%;
    background: purple;
    padding: 10px;
    border-style: solid none none none;
    border-color: black;
}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
select, #channels {
       	min-width: 100px;
}

input [type=text] {
      margin: 8px 0;
      padding: 12px 12px;
      box-sizing: border-box;
      font-size: 10pt;
}

form {
      margin: 2px 0;
      padding: 2px 2px;
      box-sizing: border-box;
}

textarea {
	 font-size: 10pt;
}

body {
      font-family: "FixedSys", "terminal", "consolas", monospace;
      background-color: purple;
}

div {
    padding: 5px;
    margin: 5px;
}


h1 {
   font-family: "fixedsys", "terminal", "consolas", monospace;
   font-size: 24pt;
   text-align: center;
   color: black;
}
h2 {
   font-family: "fixedsys", "terminal", "consolas", monospace;
   font-size: 18pt;
   text-align: center;
   color: black;
}

.displayName {
       font-family: "fixedsys", "terminal", "consolas", monospace;
       font-size: 10pt;
       padding-left: 20px;
       text-align: right;
       color: Crimson;
}

.timeStamp {
	font-family: "fixedsys", "terminal", "consolas", monospace;
       font-size: 8pt;
       text-align: left;
       color: DarkRed;
}

table {
      border-collapse: collapse;
      width: AUTO;
}
th, td {
    padding: 1px;
}

th {
   height: 1.5em;
   text-align: left;
   background-color: purple;
}

td {
   vertical-align: top;
   text-align: left;
   border: 1px solid black;
}

.Table{
      width:50%; 
    border-collapse:collapse; 
    }

table, th, td {
  border: 1px solid black;
}


.Table tr{
	    background: purple;
    }
/* Define the hover highlight color for the table row */
.Table tr:hover {
         background-color: violet; 
 }

#message_list {
   background-color: purple;
   border: none;
   width: 100%;
   height: auto;
   word-wrap: break-word; width: 38%;
}

#message_text {
    background-color: purple;
}

#message_list td {
   padding: 7px;
   border: black 1px solid;
}
 